name: Docker Image Redis
on:
  schedule:
    - cron: "0 6 * * *" # 6 AM Daily
  push:
    paths:
      - .trigger
      - redis/**
      - .github/workflows/*redis*

jobs:
  redis:
    name: Redis
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version:
          - "3.2"
          - "4.0"
          - "5.0"
          - "6.0"
          - "6.2"
          - "7.0"
        include:
          - version: "7.2"
            modifier: "-rc"


    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ !env.ACT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ !env.ACT }}

      - uses: docker/build-push-action@v4
        with:
          context: redis
          platforms: linux/amd64,linux/arm64
          build-args: REDIS_VERSION=${{ matrix.version }}${{ matrix.modifier }}
          push: ${{ github.ref == 'refs/heads/master' && !env.ACT }}
          tags: ghcr.io/${{ github.repository_owner }}/redis:${{ matrix.version }}${{ matrix.modifier }}, rollupdev/redis:${{ matrix.version }}${{ matrix.modifier }}
        if: ${{ !env.ACT && github.ref == 'refs/heads/master'}}